body {
    font-family: Book Antiqua;
    text-align: center;
    background-image: linear-gradient(to right, #ff0000 , #e03bd8);
}
#resultBoard {
    box-shadow: 0 0 0 2px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0;
}
#game {
    box-shadow: 0 0 0 5px;
    border-radius: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
}
#rock {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}
#rock img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#paper {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}
#paper img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#scissors {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 50%;
}
#scissors img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#choices {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
}
#playerChoice {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    visibility: hidden;
}
#computerChoice {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    visibility: hidden;
}